# Python
*.py[cod]
__pycache__/
**/__pycache__/

# Virtual environments
.venv/
venv/
.env
*.env

# Django stuff:
*.log
*.pot
*.sqlite3

# Static and media files
staticfiles/
media/

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
.DS_Store

# Testing
.pytest_cache/
.coverage

# Migrations – voliteľné
**/migrations/
!**/migrations/__init__.py.venv/
__pycache__/
*.log
